@model SAT.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Home";
}


<div class="login-img3-body">
    <div class="alert alert-block alert-danger fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>Restricted Access!</strong> You must be logged in to view this content. Please log in or contact the Admin if you are having issues.
    </div>
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="login-form">
                    <div class="login-wrap">
                        <p class="login-img"><i class="icon_lock-open_alt"></i></p>
                        @Html.ActionLink("Students", "Index", "Students", null, new { type = "button", @class = "btn btn-info btn-lg btn-block" })
                        @Html.ActionLink("Courses", "Index", "Courses", null, new { type = "button", @class = "btn btn-info btn-lg btn-block" })
                        @Html.ActionLink("Enrollments", "Index", "Enrollments", null, new { type = "button", @class = "btn btn-info btn-lg btn-block" })
                        <button class="btn btn-danger btn-lg btn-block" type="submit">Log Out</button>
                    </div>
                </div>
            }
        }
        else
        {
            using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-form">
                    <div class="login-wrap">
                        <p class="login-img"><i class="icon_lock_alt"></i></p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                            <span class="pull-right"> <a href="@Url.Action("ForgotPassword", "Account")"> Forgot Password?</a></span>
                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
                    </div>
                </div>
            }
        }
    </div>
</div>
